:root {
  --color-primary: hsl(189, 34%, 80%);
  --color-primary-light: hsl(174, 100%, 45%);
  --color-primary-dark: hsl(174, 100%, 20%);
  --color-secondary: hsl(343, 82%, 80%);
  --color-secondary-light: hsl(343, 82%, 90%);
  --color-grey-light-1: #faf9f9;
  --color-grey-light-2: #f4f2f2;
  --color-grey-light-3: #f0eeee;
  --color-grey-light-4: #ccc;
  --color-grey-dark-1: #333;
  --color-grey-dark-2: #777;
  --color-grey-dark-3: #999;
  --shadow-dark: 0 2rem 6rem rgba(0, 0, 0, 0.3);
  --shadow-light: 0 2rem 5rem rgba(0, 0, 0, 0.06);
  --line: 1px solid var(--color-grey-dark-1);
  --line-light: 1px solid var(--color-grey-dark-2); }

* {
  margin: 0;
  padding: 0; }

*,
*::after,
*::before {
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }

body {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  line-height: 1.6;
  color: var(--color-grey-dark-2);
  background-image: linear-gradient(to right bottom, var(--color-primary-light), var(--color-primary-dark));
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh; }

.logobox {
  display: flex;
  align-items: center; }
  .logobox__logo {
    height: 3.25rem;
    margin-right: 2rem; }
  .logobox__brand {
    font-size: 2rem;
    font-weight: bolder;
    color: var(--color-grey-dark-1);
    text-shadow: 2px 2px var(--color-secondary); }

.navigation__link {
  color: var(--color-grey-dark-1);
  font-size: 1.3rem;
  font-weight: bold;
  text-decoration: none;
  letter-spacing: 3px; }
  .navigation__link:not(:last-child) {
    margin-right: 4.5rem; }

button {
  cursor: pointer;
  text-transform: capitalize;
  padding: 0.8em 1.6em;
  border: var(--line);
  box-shadow: 0 0.05em 0.25em rgba(0, 0, 0, 0.5);
  color: var(--color-grey-dark-1);
  text-shadow: 0 -0.05em 0.05em rgba(0, 0, 0, 0.5);
  font-size: 125%;
  line-height: 1.5;
  outline: none;
  position: relative;
  transition: all 0.3s ease; }

.cta #cta__link {
  margin-right: 2rem; }

.cta__button {
  background: var(--color-secondary) linear-gradient(rgba(255, 255, 255, 0.2), transparent);
  border-radius: 0.3rem; }

.hero__content {
  color: var(--color-grey-dark-1); }
  .hero__content-heading {
    font-size: 4.5rem;
    font-weight: bolder;
    letter-spacing: 0.8rem;
    line-height: normal; }
  .hero__content-description {
    color: var(--color-grey-dark-2);
    font-size: 1.5rem;
    margin: 3rem 0; }
  .hero__content-form {
    display: flex;
    width: 100%; }
    .hero__content-form--input {
      background: transparent;
      padding: 1rem;
      border: var(--line);
      border-right: none;
      border-top-left-radius: 0.3rem;
      border-bottom-left-radius: 0.3rem; }
    .hero__content-form--button {
      background: var(--color-secondary-light) linear-gradient(rgba(255, 255, 255, 0.2), transparent);
      border-top-right-radius: 0.3rem;
      border-bottom-right-radius: 0.3rem; }

.hero__image {
  width: 50%; }

.feather {
  width: 1.8rem;
  height: 1.8rem;
  stroke: var(--color-grey-dark-1);
  stroke-width: 1.5;
  fill: none;
  margin: 0.5rem 0; }

.feather-fill {
  fill: var(--color-grey-dark-1); }

.legal {
  color: var(--color-grey-dark-1); }

.container {
  max-width: 120rem;
  margin: 5rem auto;
  background-color: var(--color-primary);
  box-shadow: var(--shadow-dark);
  border: var(--line);
  border-radius: 3rem;
  padding: 2rem 8rem;
  display: flex;
  flex-direction: column;
  height: 100%;
  min-height: 50rem; }

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 8rem;
  border-bottom: var(--line); }

.hero {
  flex: 1 0 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10rem 0.5rem; }

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 8rem;
  border-top: var(--line-light); }
  .footer__social-link {
    text-decoration: none; }
  .footer__social > a:not(:last-child) {
    margin-right: 2rem; }
