:root {
	//--color-primary: hsl(174, 100%, 35%);
	--color-primary: hsl(189, 34%, 80%);
	--color-primary-light: hsl(174, 100%, 45%);
	--color-primary-dark: hsl(174, 100%, 20%);
	--color-secondary: hsl(343, 82%, 80%);
	--color-secondary-light: hsl(343, 82%, 90%);

	--color-grey-light-1: #faf9f9;
	--color-grey-light-2: #f4f2f2;
	--color-grey-light-3: #f0eeee;
	--color-grey-light-4: #ccc;

	--color-grey-dark-1: #333;
	--color-grey-dark-2: #777;
	--color-grey-dark-3: #999;

	--shadow-dark: 0 2rem 6rem rgba(0, 0, 0, 0.3);
	--shadow-light: 0 2rem 5rem rgba(0, 0, 0, 0.06);

	--line: 1px solid var(--color-grey-dark-1);
	--line-light: 1px solid var(--color-grey-dark-2);
}

* {
	margin: 0;
	padding: 0;
}

*,
*::after,
*::before {
	box-sizing: inherit;
}

html {
	box-sizing: border-box;
	font-size: 62.5%; // 1 rem = 10px
}

body {
	font-family: 'Lato', sans-serif;
	font-weight: 400;
	line-height: 1.6;
	color: var(--color-grey-dark-2);
	background-image: linear-gradient(
		to right bottom,
		var(--color-primary-light),
		var(--color-primary-dark)
	);
	background-size: cover;
	background-repeat: no-repeat;

	min-height: 100vh;
}
